<center>
    <h2> Добавление отчета </h2>

    <%ects_grades = [nil,'A (100-90)','B (89-82)','C (81-75)','D (74-69)','E (68-60)','FX (59-35)','F (34-1)']%>

    <%=form_with model: @report do |f|%>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%=f.label :title, 'Заголовок'%><br>
        <%=f.text_field :title%><br>
        <%=f.label :description, 'Текст'%><br>
        <%=f.text_area :description, rows: 5%><br>
        <%=f.label :grade, 'Оценка'%><br>
        <%=f.select :grade, ects_grades%><br><br>
        <%=f.submit '+ Добавить работу'%>
    <%end%>
</center>
<br><br>
<%=button_to '⇐ Отмена', reports_path, method: :get%>